root { 
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a4f54;
    background-color: #dfecf1;
    margin: 0;
    padding: 0;
}
table{
    width: 100%;
    margin: 0 0 20px 0;
}
#main-menu{
    background-color: rgb(89, 143, 145);
    align-items: center;
}
#main-menu > *, .parent{
    width: 90%;
    max-width: 1400px;
    margin: auto;
}
#main-menu .title{
    padding: 10px 0;
    font-size: 2em;
    color: #dff9fa;
}
#main-menu .menu{
    display: flex;
}
#main-menu a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
    font-size: 1.2em;
    background-color: cadetblue;
}
#main-menu a:hover{
    color: #3a4f54;
    background-color: #dfecf1;
}
form.jsfcrud_list_form th, td th {
    color: #4e6a71;
    border-style: solid;
    border-width: 1px;
    border-color: cadetblue;
    text-align: left;
    background-color: #b2d5d6;
}
td, th{
    vertical-align: top;
    padding: 6px;
}
form.jsfcrud_list_form td, td td {
    border-style: solid;
    border-width: 1px;
    border-color: #b2d5d6;
    vertical-align: baseline;
}
tr.jsfcrud_odd_row {
    background-color: #fefeff;
    color: #4e6a71;
}
tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #4e6a71;
}
#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header form > *, .save{
    text-decoration: none;
    padding: 7px 15px;
    border-radius: 5px;
    background-color: cadetblue;
    color: #FFF;
    display: inline-block;
}
.add{
    background-color: #3B3;
    color: #EFE;
}
.delete{
    background-color: #B33;
    color: #EFE;
}
header form{
    display: flex;
    gap: 10px;
}
input, textarea, select{
    padding: 8px 20px;
    font-size: 1em;
    width: 240px;
    border: 2px solid cadetblue;
    border-radius: 4px;
    outline: none;
}
textarea{
    width: 360px;
    height: 64px;
}
select{
    width: 285px;
}
.save{
    margin: 20px 0;
}
h3{
    margin-bottom: 10px;
}